<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">

    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Liste des Eleves Inscris</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/formIncription" routerLinkActive="active">Nouvelle Inscription</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/inscription" routerLinkActive="active">Details d'un Eleve</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/update" routerLinkActive="active">Modifier les Details d'un Eleve</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/delete" routerLinkActive="active">Supprimer une Inscription</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/images" routerLinkActive="active">Liste des Images</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/image" routerLinkActive="active">Afficher une image</a>
    </li>

  </ul>


</nav>